<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home Planning</title>
  <style>
      html, body {
          font-size: 100%;
          height: 100%;
          margin: 0;
      }

      *, *:before, *:after {
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
      }

      body {
          background: linear-gradient(to right, #3479a9, #4845a9);
          color: #eeeeee;
          width: 100%;
      }

      .date {
          padding: 0.5em;
          position: fixed;
          right: 0;
          top: 0;
      }

      .planning {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          width: 100%;
      }

      .planning-title {
          margin: 1em;
          padding: 2em;
      }

      .tasks {
          align-items: center;
          display: flex;
          flex-grow: 1;
          justify-content: center;
      }

      .task {
          background-color: white;
          color: #000;
          display: flex;
          height: 10em;
          width: 16em;
      }

      .task-member {
          height: 100%;
          width: auto;
      }

      .task-details {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
      }
  </style>
</head>
<body>

{{{body}}}

</body>
</html>

