<div class="date">{{formattedDate}}</div>
<section class="planning">
    <h1 class="planning-title">Planning pour aujourd’hui</h1>
    <div class="tasks">
    {{#each plannedTasks}}
        <div class="task">
            <img class="task-member" src="data:image/jpeg;charset=utf-8;base64,{{member.avatar}}" alt="" />
            <div class="task-details">
                <span>{{task.periodName}}</span>
                {{task.name}}
            </div>
        </div>
    {{/each}}
    </div>
</section>
