@font-face {
    font-family: 'Komikax';
    src: url('../fonts/KOMIKAX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Komikax', sans-serif;
    font-size: 0.8rem;
    height: 100%;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #3479a9, #4845a9);
    color: #eeeeee;
    width: 100%;
}

.date {
    font-size: 1em;
    left: 0;
    margin: 0.1em 0 0 0.5em;
    position: fixed;
    top: 0;
}

.task {
    align-items: center;
    background-color: white;
    border-bottom-width: 0;
    border-bottom-style: solid;
    box-shadow: 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.6);
    color: #000;
    display: flex;
    height: 3em;
    margin: 0.2em 0;
    width: 15em;
}

.task-details {
    align-items: center;
    color: #373737;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.3em;
    position: relative;
    text-align: center;
    width: 100%;
}

.task-icon {
    height: auto;
    margin: 0.4em;
    max-height: 75%;
    max-width: 80%;
}

.tasks-period {
    background-color: yellow;
    box-shadow: 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.6);
    color: black;
    font-size: 1.2em;
    letter-spacing: 0.04em;
    min-width: 6em;
    padding: 0.3em 0.8em 0.5em 1em;
    text-align: center;
}

.planning {
    display: grid;
    font-size: 1rem;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-rows: [row1-start] 9vh [row1-end] auto [last-line];
    height: 100vh;
}

.planning > * {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.planning-period-morning {
    grid-column: 2 / 3;
}

.planning-period-noon {
    grid-column: 3 / 4;
}

.planning-period-evening {
    grid-column: 4 / 5;
}

.planning-member:nth-child(7n+1), .planning-tasks:nth-child(7n+2), .planning-tasks:nth-child(7n+3), .planning-tasks:nth-child(7n+4) {
    background-color: #3479a9;
}

.planning-member .task-member {
    box-shadow: 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.6);
    margin: 1em 0;
    max-height: 10em;
}

.planning-tasks {
    display: flex;
    flex-direction: column;
}

.planning-task {
    background-color: white;
    border: 0;
    box-shadow: 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.6);
    color: black;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.8em;
    letter-spacing: 0.04em;
    margin: 0 0 1em 0;
    min-width: 15em;
    padding: 0.3em 0.8em 0.5em 1em;
    text-align: center;
}

.planning-task-active {
    background-color: #adff64;
}
