@font-face {
    font-family: 'Komikax';
    src: url('../fonts/KOMIKAX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Komikax', sans-serif;
    font-size: 0.8rem;
    height: 100%;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #3479a9, #4845a9);
    color: #eeeeee;
    width: 100%;
}

.date {
    font-size: 1em;
    padding: 0.1em 0.3em;
    position: fixed;
    right: 0;
    top: 0;
}

.planning-title {
    font-size: 1.6em;
    letter-spacing: 0.07em;
    margin: 0;
    padding: 0.1em 0 2em;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
}

.planning {
    display: flex;
    height: 100%;
    justify-content: space-around;
    padding: 4em 0;
    width: 100%;
}

.tasks-period {
    background-color: yellow;
    box-shadow: 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.6);
    color: black;
    font-size: 1.2em;
    letter-spacing: 0.04em;
    margin: 0 0 1em 0;
    min-width: 6em;
    padding: 0.3em 0.8em 0.5em 1em;
    text-align: center;
}

.tasks {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.task {
    background-color: white;
    border-bottom-width: 0;
    border-bottom-style: solid;
    box-shadow: 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.6);
    color: #000;
    display: flex;
    height: 7em;
    margin: 1em;
    width: 15em;
}

.task-member {
    height: 100%;
    width: auto;
}

.task-details {
    align-items: center;
    color: #373737;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
}

.task-icon {
    height: auto;
    margin-bottom: 0.4em;
    max-height: 40%;
    max-width: 80%;
}

.admin {
    display: grid;
    font-size: 1rem;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-rows: [row1-start] 8vh [row1-end] 8vh [third-line] auto [last-line];
    height: 100vh;
}

.admin > * {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.admin .admin-date {
    grid-column: 1 / 5;
    margin: 0.5em 0 1.5em;
}

.admin-period-morning {
    grid-column: 2 / 3;
}

.admin-period-noon {
    grid-column: 3 / 4;
}

.admin-period-evening {
    grid-column: 4 / 5;
}

.admin-member .task-member {
    box-shadow: 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.6);
    margin: 1em 0;
    max-height: 10em;
}

.admin-tasks {
    display: flex;
    flex-direction: column;
}

.admin-task {
    background-color: white;
    border: 0;
    box-shadow: 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.6);
    color: black;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.8em;
    letter-spacing: 0.04em;
    margin: 0 0 1em 0;
    min-width: 15em;
    padding: 0.3em 0.8em 0.5em 1em;
    text-align: center;
}

.admin-task-active {
    background-color: #adff64;
}
